<!DOCTYPE html>
<html lang="en">

<head>
	<title>Harrison Kinsley</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>
<body>
<nav></nav>
    <div class="container-fluid">
        {% block content %}
        {% include "main/includes/header.html" %}
        <h1>Index Page!!!</h1>

        <a href="../login">Login</a>

        {% endblock content %}
    </div>
</body>
